<div class="solid">

  <select id="planner_selector">
    <option value="alle">Alle</option>
    <option value="ruskorps">Ruskorps</option>
    <option value="prosa">PROSA</option>
    <option value="ida">IDA</option>
    <option value="studentersamfundet">Studentersamfundet</option>
  </select>

  <div id="calendar" class="mb-1"></div>

  <script type="text/javascript">
  $(document).ready(function(){
    filterSelect("alle");
    $('#calendar').fullCalendar({
      defaultView: 'month',
      locale: 'da',
      events: <%= raw(@events.map { |ev| { title: ev.title, start: ev.begin_at, className: ev.planner, url: "/events/#{ev.id}" } }.to_json) %>,
      eventRender: function eventRender( event, element, view ) {
        if ($('#planner_selector').val() == "alle")
          return true
        else
          return event.className == $('#planner_selector').val()
      }
    });
  });
  $('#planner_selector').on('change',function(){
      $('#calendar').fullCalendar('rerenderEvents');
      filterSelect($('#planner_selector').val());
  });
  </script>



    <%# @domain.events.sort_by |ev| do ev[:begin_at] end ?????????????????? i tilfælde af at de ikke bliver lagt ind i rigtig rækkefølge    %>
  <div id="accordion">
  
  <% @domain.events.each.with_index do |event, i| %>
    <div class="filterable <%= event["planner"]%>">
    <div class="card mb-1 rounded" style="width: 100%;">
      <div class="card-header rounded" id="heading<%= event["id"] %>">
        <h5 class="mb-0">
          <button class="btn btn-primary outline btn-lg btn-block border-0 rounded" data-toggle="collapse" data-target="#collapse<%= event["id"] %>" aria-expanded="true" aria-controls="collapse<%= event["id"] %>" style="">
            <p class="align-left"><%= event["title"] %></p>
            <p class="align-right"><%= event["begin_at"].strftime("%d/%m/%y %H:%M") %></p>
            
            <div style="clear: both;"></div>
          </button>
        </h5>
      </div>

      <div id="collapse<%= event["id"] %>" class="collapse" aria-labelledby="heading<%= event["id"] %>" data-parent="#accordion">
        <div class="card-body rounded mt-01">
          <div class="row">
            <div class="col">
              <%= raw(event["description"]) %>
            </div>
            <div class="col-4">
              <div id="eventmap<%= event["id"] %>" style="height: 100%;min-height:150px"></div>
                <% content_for :init_maps do %>
                  var location = {lat: <%= event["lat"] %>, lng: <%= event["lng"] %>}
                  window.rus_maps[<%= i %>] = new google.maps.Map(document.getElementById('eventmap<%= event["id"] %>'), {
                    center: location,
                    disableZoom: true,
                    zoom: 11
                  });

                  var marker = new google.maps.Marker({
                    position: location,
                    map: window.rus_maps[<%= i %>]
                  });
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  
  <% end %>
  </div>



</div> <%# Lukker solid %>