<%= render partial: 'partials/event_header' %>

<div class="padding">

  <%#div id="planner-buttons" class="btn-group btn-group-justified mb-3" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn planner-button fc-event alle active" value="alle">Alle
        </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn planner-button fc-event prosa"  value="prosa">PROSA
        </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn planner-button fc-event ida" value="ida">IDA
        </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn planner-button fc-event" style="background-color:<%= @domain.colors["primary-color"] >" value="ruskorps">Ruskorps
        </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn planner-button fc-event studentersamfundet" value="studentersamfundet">Studentersamfundet
        </button>
    </div>
  </div%>

  <div id="calendar" class="mb-1"></div>

  <script type="text/javascript">
  $(document).ready(function(){
    filterSelect("alle");
    $('#calendar').fullCalendar({
      defaultView: 'month',
      locale: 'da',
      events: <%= raw(@events.map do |ev|
        base = { title: ev.title, start: ev.begin_at, url: "/events/#{ev.id}"}
        base.merge!(backgroundColor: @domain.colors["primary-color"]) #if ev.planner == 'ruskorps'
        base
      end.to_json) %>/*,
      eventRender: function eventRender( event, element, view ) {
        if ($('#planner-buttons .active').val() == "alle")
          return true
        else
          return event.className == $('#planner-buttons .active').val()
      }*/
    });
  })
  /*$(".planner-button").on("click", function() {

    $(".planner-button").removeClass("active");
    $(this).addClass("active");

    $('#calendar').fullCalendar('rerenderEvents');
    filterSelect($(this).val());
  });*/
  </script>
  <div id="accordionParent">
    <%= render partial: "/partials/event_accordion", locals: {accordionID: "accordionToday", condition: :today  } %>

    <%= render partial: "/partials/event_accordion", locals: {accordionID: "accordionNext", condition: :upcoming  } %>

    <%= render partial: "/partials/event_accordion", locals: {accordionID: "accordionPrevious", condition: :previous } %>
  </div>
</div>