<div id="accordion">
  <% @page.accordion.each.with_index do |item, i| %> <%# skal title/content jsonb ligge i en page? et andet sted? Hvordan linker vi evt. page slug til bestemt objekt der indeholder array af jsonb? foreignkey fra objekt til page? slug som field?%>
    <div class="card mb-1 rounded" style="width: 100%;">
      <div class="card-header rounded" id="heading<%= i %>">
        <h5 class="mb-0">
          <button class="btn btn-primary outline btn-lg btn-block border-0 rounded" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>" style="">
            <p class="align-left"><%= item["title"] %></p>
            
            <div style="clear: both;"></div>
          </button>
        </h5>
      </div>

      <div id="collapse<%= i %>" class="collapse" aria-labelledby="heading<%= i %>" data-parent="#accordion">
        <div class="card-body rounded mt-01">
          <%= raw(item["content"]) %>
        </div>
      </div>

    </div>
  
  <% end %>
</div>