<%= render partial: 'partials/page_breadcrumbs' %>
<%= render partial: 'partials/body_text' %>

<div class="flexbox">
  <% @domain.contacts.each do |item| %>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="box rounded">
        <div class="bg-img" style='background-image: url("<%= item["image"] %>");'></div>
        <div class="overlay"></div>
        <div class="info"><%= item["name"] %><br/><%= item["email"] %><br/><%= item["number"] %></div>
        <div class="description"><%= item["description"] %></div>
      </div>
    </div>
  <% end %>
</div>


